@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body{
    margin: auto;
    padding: auto;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    height: 100vh;
}

a{
    text-decoration: none;
}

#index{
    border-bottom: 1px solid rgb(253, 170, 16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: rgb(245, 182, 10);
}

main{
    display: flex;
    margin: 100px;
    height: 50vh;
    flex-direction: column;
    align-items: center;
}

main .soub-items{
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: center;
    align-items: center;

}

main .tag .sub-title{
    color: aqua;
}

main .tag .sub-title2{
    font-size: 16pt;
    color: rgb(249, 250, 250);
}

main .tag .sub-tag{
    font-size: 40px;
    color: aliceblue;
}


main .tag p{
    color: rgba(240, 248, 255, 0.486);
}
main .tag{
    padding: 10px;
    width: 40%;
    margin: 10px 100px 0 0;
}

main .image{
    margin: 10px 0 0 100px;
}

main .image img{
    width: 300px;
    height: auto;

}

main img{
    height: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 66px rgba(155, 187, 216, 0.486);
}

main .banniere{
    width: 100%;
    height: 100vh;
    margin-left: 0;
    background-image: url('../files/title.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;
    display: flex;
    text-align: center;
    justify-content: center;
    box-shadow: 20px 20px 4px rgb(8, 8, 8);
    margin-bottom: 20px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-left: 1px solid white;
    color: aqua;
}


section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    color: black;
    width: 100%;
    height: 100px;  
    font-size: 24pt;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 10px 10px 66px rgba(155, 187, 216, 0.486);
    margin-top: 20px;
}



footer{
    background-color: rgb(20, 20, 20);
    position: relative;
    bottom: -100px;
    width: 100%;
    height: auto;
    margin-top: 150px;
}

main a{
        color: orange;
        font-weight: bold;
        font-size: 12pt;
        text-decoration: underline;
    }


/* responsive  */
@media screen and (max-width: 768px){
    main{
        flex-direction: column;
        margin: 20px;
        height: auto;
    }

    main .tag{
        width: 100%;
        margin: 100px 0 10px 0;
        height: auto;
        padding: 20px;
    }

    main .image{
        margin: 150px 0 0 0;
    }

    main .image img{
        height: auto;
    }

    main .banniere{
        width: 100%;
        height: 20vh;
        margin: 100px 0 0 0;
    }

    footer{
        margin-top: 60px;
    }

    main a{
        color: orange;
        font-weight: bold;
        font-size: 12pt;
        text-decoration: underline;
    }
}
